body {
  background-color: black;
  font-family: verdana;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

h3 {
  font-size: 21px;
  color: gray;
}

.copyright {
  text-align: right;
}

.balls {
  color: Aquamarine;
}
